*{
    padding:0px;
    margin: 0px;
    
}
.container{
    height:887px;
    width:351px;
    display:grid;
    margin:auto;
    border-radius: 10px;
    background-color: #22222D;
    color:white;
   
}
.info{
    line-height: 30px;
    text-align: center;
}
.profile-pic{
    border-radius: 10px 10px;
    height:287px;
    width:351px;
}
.info-buttons{
    display: flex;
    justify-content: space-evenly;

}

.info-buttons button{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
    width:135px;
    height:42px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
}
.linkedin-button{
    background-color: #0277B1;
    
}
.about {
    margin-left: 25px;
    margin-right: 25px;
}
.intrests{
    margin-left: 25px;
    margin-right: 25px;
}

.social-icons{
    border-radius: 0 0 10px 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.social-icons img{
    color: white;
}